<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Songs</title>
</head>
<body>
<form action="postsongs" method="post">
<label>Song Name :</label>
<input type="text" name="name" placeholder="Enter the song name"/>
<br/><br/>
<label>Song Artist :</label>
<input type="text" name="artist" placeholder="Enter the artist name"/>
<br/><br/>
<label>Song Genre :</label>
<input type="text" name="genre" placeholder="Enter the artist name"/>
<br/><br/>
<label>Song Link :</label>
<input type="text" name="link" placeholder="Enter the song link"/>
<br/><br/>
<button type="submit" value="addsongs">ADD SONGS</button>




</form>

</body>
</html>