<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="register" method="post" >
<h1><strong>TuneHub </strong></h1>
<label>Username :</label>
<input type="text" name="username" placeholder="Enter the username" required="required" />
<br/><br/>
<label>Email ID :</label>
<input type="email" name="email" placeholder="Enter the email" required="required"/>
<label>Password :</label>
<input type="password" name="password" placeholder="Enter the password" required="required"/>
<br/><br/>
<label>Gender :</label>
Male<input type="radio" name="gender"  value="male"/>
Female<input type="radio" name="gender"  value="female"/>
Other<input type="radio" name="gender"  value="other"/>
<br/><br/>
<label>Role :</label>
Admin<input type="radio" name="role" value="admin"/>
Customer<input type="radio" name="role" value="customer"/>
<br/><br/>
<label>Address :</label>
<textarea name="address"></textarea>
<br/><br/>
<input type=submit value="register"/>
</form>

</body>
</html>