<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>View playlist</h1>
	<table border=1>
		<tr>
			<td>id</td>
			<td>name</td>
			<td>song</td>

		</tr>

		<tr th:each="pl:${plist}">

			<td th:text="${pl.id}"></td>
			<td th:text="${pl.name}"></td>
			<td>
				<ul >
				<li th:each="s:${pl.song}">
					<span th:text="${s.name}"></span>
					<audio controls>
							<source th:src=${s.link} type="audio/mpeg">
						</audio>
					</li>
				</ul>
			</td>
		</tr>

	</table>

</body>
</html>